 body {
    /* border: 5px solid black; */
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    font-size: 13px;
    background: #FFF;
}

ul {
    list-style-type: none;
}

.container {
    /* border: 5px solid red; */
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";
    grid-template-columns: 160px 815px auto; /*160px 815px auto*/
    grid-template-rows: 123px auto 80px; /*123px auto 80px*/
    grid-gap: 0px;
}

/*Begin Header*/
.header-container {
    border-bottom: 1px solid rgb(235, 235, 235);
    box-sizing: border-box;
    grid-area: header;
    display: grid;
    /*kan hier opzich nog met grid template areas gaan werken indien nodig (is misschien wel mooiere oplossing*/
    grid-template-columns: inherit;
    grid-template-rows: 65px 58px;
    /* place-self: stretch; */
}
    /*Begin Figure*/
    .header-figure {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        padding: 28px 30px 0px 30px;
    }

        .header-figure img {
            height: 30px;
            width: 92px;
        }
    /*End Figure*/

    /*Begin form*/
    .header-form {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        padding: 19px 0px 0px 1px;
    }

        .header-form-searchbar {
            border: 1px solid #DFE1E5; /*#DFE1E5*/
            /* box-sizing: bordesr-box; */
            display: flex;
            flex-direction: row;
            /* justify-content: center;  */
            align-items: center;
            border-radius: 24px;
            width: 690px;
            height: 44px;
        }

        .header-form-searchbar:hover {
            box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
            border-color: rgba(223, 225, 229, 0);
        }

            .input-bar {
                /* border: 1px solid green; */
                border: 0;
                color: rgba(0, 0, 0, 0.87);
                font-size: 16px;
                height: 34px;
                margin: auto 10px auto 20px;
                width: 574px;
            }

            textarea:focus, input:focus { /*Used to delete blue outline on searchbar when selecting it*/
                outline: none;
            }

            #google-search {
                height: 17.49px;
                width: 17.49px;
                margin: 0 11.5px 0 16.5px;
            }

            #google-microphone {
                height: 24px;
                width: 24px;
            }
    /*End Form*/

    /*Begin Nav*/
    .header-navigation-bar {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }

        .header-navigation-bar ul {
            display: flex;
            flex-direction: row;
            margin: 7px 0px;
            padding: 0px 0px;
        }

            .header-navigation-bar ul li {
                height: 47px;
                width: 80px;
                margin: 0px 1px 0px 1px;
            }

            .header-navigation-bar ul li a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 47px;
                color: #5F6368;
                text-decoration: none;
            }

            .header-navigation-bar ul li a svg {
                margin-right: 5px;
                height: 16px;
                width: 16px;
                fill: #5F6368;
            }

            .header-navigation-bar ul li:nth-child(1) {
                margin-left: 10px;
                width: 64.69px; 
            }

            .header-navigation-bar ul li:nth-child(1) a {
                color: #1A73E9;
                border-bottom: 3px solid #1A73E9;
            }

            .header-navigation-bar ul li:nth-child(2) {
                width: 74.8px;
            }

            .header-navigation-bar ul li:nth-child(3) {
                width: 85.6px;
            }

            .header-navigation-bar ul li:nth-child(4) {
                width: 85px;
            }

            .header-navigation-bar ul li:nth-child(5) {
                width: 98px;
            }

            .header-navigation-bar ul li:nth-child(6) {
                width: 63.63px;
            }

            .header-navigation-bar ul li:nth-child(6) a svg{
                margin-right: 0px;
            }

            .header-navigation-bar ul li:nth-child(7) {
                margin-left: 32px;
                width: 87.78px;
            }

            .header-navigation-bar ul li:nth-child(8) {
                width: 54.36px;
            }
    /*End Nav*/

    /*Begin header-apps-bar*/
    .header-apps-bar {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
        place-self: end;
        margin-right: 14px;
        display: flex;
        flex-direction: row;
    }   

        .header-apps-bar a {
            margin: 4px;
        }

        .header-apps-bar a:hover{
            background-color: rgba(60, 64, 67, 0.08);
            border-radius: 50%;
        }

        .header-apps-container{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px; 
        }

            .header-apps-login {
                border-radius: 50px;
            }

            .header-apps-apps{
                fill: #5F6368;
                height: 24px;
                width: 24px;
            }
    /*End header-apps-bar*/
/*End Header*/

/*Begin Main*/
.main {
    /* border: 1px solid rgb(235, 235, 235); */
    box-sizing: border-box;
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* place-self: stretch; */
}

    .main-result-container {
        border: 1px solid rgb(235, 235, 235);
        /* height: 100px; */
        line-height: 16.8px;
        height: 119px;
        width: 600px;
        margin: 0px 0px 27px 20px;
    }

    .main-video-container {
        border: 1px solid rgb(235, 235, 235);
        height: 343.105px;
        width: 660px;
        margin: 0px 0px 27px 20px;
    }

        .main-video-header {
            height: 26px;
        }

        .main-video-content-container {
            /* border: 1px solid red; */
            height: 309.109px;
            width: 660px;
            display: flex;
            flex-direction: row;
        }

            .main-video-content {
                border: 1px solid #DFE1E5;
                border-radius: 8px;
                padding: 4px;
                margin: 4px;
                height: 301.109px;
                width: 212px;
            }


    .main-table-container {
        border: 1px solid rgb(235, 235, 235);
        height: 220px;
        width: 652px;
        margin: 0px 0px 27px 20px;
    }

        .main-table-header {
            border-top: 1px solid #E5E5E5;
        }

        .main-table-element {
            border-top: 1px solid #E5E5E5;
        }



    .main-related-result-container {
        border: 1px solid rgb(235, 235, 235);
        height: 100px;
        width: 600px;
        margin: 0px 0px 27px 20px;
    }

        .main-related-result-header {

        }

        .main-related-result-content {

        }

            .main-related-result-list {
                display: flex;
                flex-direction: row;
            }

    .main-google-navigation-container {
        border: 1px solid rgb(235, 235, 235);
        height: 100px;
        width: 600px;
        margin: 0px 0px 27px 20px;
    }
        .main-google-navigation-container ul {
            /* border: 1px solid red; */
            display: flex;
            flex-direction: row;
            /* height: 10px;
            width: 10px; */
            /* margin: 0px 0px 27px 20px; */
        }

        .main-google-navigation-container ul li {
            background-image: url(https://www.google.com/images/nav_logo299.webp);
            /* border: 1px solid red; */
            background-position: -74px 0;
            height: 40px;
            width: 20px;
            /* margin: 0px 0px 27px 20px; */
        }

        .main-google-navigation-container ul li:nth-child(1) {
            background-position: -24px 0;
            width: 28px;
            /* margin: 0px 0px 27px 20px; */
        }

        .main-google-navigation-container ul li:nth-child(2) {
            background-position: -53px 0;
            /* margin: 0px 0px 27px 20px; */
        }

        .main-google-navigation-container ul li:nth-child(n +3):nth-child(-n + 11) {
            /* background-position: -74px 0; */
            /* margin: 0px 0px 27px 20px; */
        }

        .main-google-navigation-container ul li:nth-child(12) {
            background-position: -96px 0;
            width: 71px;
            /* margin: 0px 0px 27px 20px; */
        }
/*End Main*/

/*Begin Footer*/
.footer-container {
    /* border: 5px solid orange;
    box-sizing: border-box; */
    grid-area: footer;
    background: #F2F2F2;
    display: grid;
    grid-template-columns: inherit;
    grid-template-rows: 41px 40px;
    /* place-self: stretch; */
}

.footer-container-up {
    /* border: 5px solid orange;
    box-sizing: border-box; */
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    /* place-self: stretch; */
}

.footer-container-down {
    /* border: 5px solid orange;
    box-sizing: border-box; */
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    /* place-self: stretch; */
}
/*End Footer*/