 body {
    /* border: 5px solid black; */
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    font-size: 13px;
    background: #FFF;
}

ul {
    list-style-type: none;
}

.container {
    /* border: 5px solid red; */
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";
    grid-template-columns: 160px 815px auto; /*160px 815px auto*/
    grid-template-rows: 123px auto 80px; /*123px auto 80px*/
    grid-gap: 0px;
}

/*Begin Header*/
.header-container {
    position: sticky;
    /* background: #FFF; */
    border-bottom: 1px solid rgb(235, 235, 235);
    box-sizing: border-box;
    grid-area: header;
    display: grid;
    /*kan hier opzich nog met grid template areas gaan werken indien nodig (is misschien wel mooiere oplossing*/
    grid-template-columns: inherit;
    grid-template-rows: 65px 58px;
    /* place-self: stretch; */
}

    /*Begin Figure*/
    .header-figure {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        padding: 28px 30px 0px 30px;
    }

        .header-figure img {
            height: 30px;
            width: 92px;
        }
    /*End Figure*/

    /*Begin form*/
    .header-form {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        padding: 19px 0px 0px 1px;
    }

        .header-form-searchbar {
            border: 1px solid #DFE1E5; /*#DFE1E5*/
            /* box-sizing: bordesr-box; */
            display: flex;
            flex-direction: row;
            /* justify-content: center;  */
            align-items: center;
            border-radius: 24px;
            width: 690px;
            height: 44px;
        }

        .header-form-searchbar:hover {
            box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
            border-color: rgba(223, 225, 229, 0);
        }

            .input-bar {
                /* border: 1px solid green; */
                border: 0;
                color: rgba(0, 0, 0, 0.87);
                font-size: 16px;
                height: 34px;
                margin: auto 10px auto 20px;
                width: 574px;
            }

            textarea:focus, input:focus { /*Used to delete blue outline on searchbar when selecting it*/
                outline: none;
            }

            #google-search {
                height: 17.49px;
                width: 17.49px;
                margin: 0 11.5px 0 16.5px;
            }

            #google-microphone {
                height: 24px;
                width: 24px;
            }
    /*End Form*/

    /*Begin Nav*/
    .header-navigation-bar {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }

        .header-navigation-bar ul {
            display: flex;
            flex-direction: row;
            margin: 7px 0px;
            padding: 0px 0px;
        }

            .header-navigation-bar ul li {
                height: 47px;
                width: 80px;
                margin: 0px 1px 0px 1px;
            }

            .header-navigation-bar ul li a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 47px;
                color: #5F6368;
                text-decoration: none;
            }

            .header-navigation-bar ul li a svg {
                margin-right: 5px;
                height: 16px;
                width: 16px;
                fill: #5F6368;
            }

            .header-navigation-bar ul li:nth-child(1) {
                margin-left: 10px;
                width: 64.69px; 
            }

            .header-navigation-bar ul li:nth-child(1) a {
                color: #1A73E9;
                border-bottom: 3px solid #1A73E9;
            }

            .header-navigation-bar ul li:nth-child(2) {
                width: 74.8px;
            }

            .header-navigation-bar ul li:nth-child(3) {
                width: 85.6px;
            }

            .header-navigation-bar ul li:nth-child(4) {
                width: 85px;
            }

            .header-navigation-bar ul li:nth-child(5) {
                width: 98px;
            }

            .header-navigation-bar ul li:nth-child(6) {
                width: 63.63px;
            }

            .header-navigation-bar ul li:nth-child(6) a svg{
                margin-right: 0px;
            }

            .header-navigation-bar ul li:nth-child(7) {
                margin-left: 32px;
                width: 87.78px;
            }

            .header-navigation-bar ul li:nth-child(8) {
                width: 54.36px;
            }
    /*End Nav*/

    /*Begin header-apps-bar*/
    .header-apps-bar {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
        place-self: end;
        margin-right: 14px;
        display: flex;
        flex-direction: row;
    }   

        .header-apps-bar a {
            margin: 4px;
        }

        .header-apps-bar a:hover{
            background-color: rgba(60, 64, 67, 0.08);
            border-radius: 50%;
        }

        .header-apps-container{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px; 
        }

            .header-apps-login {
                border-radius: 50px;
            }

            .header-apps-apps{
                fill: #5F6368;
                height: 24px;
                width: 24px;
            }
    /*End header-apps-bar*/
/*End Header*/

/*Begin Main*/
.main-container {
    /* border: 1px solid rgb(235, 235, 235); */
    box-sizing: border-box;
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* place-self: stretch; */
}

    .main-results {
        font-size: 14px;
        color: #70757A;
        margin-left: 20px;
    }
    
    #main-first-container {
        border: 1px solid #DFE1E5;
        border-radius: 8px;
        height: auto;
        width: 652px;
        margin: 0px 0px 55px 20px; /*Normally 55px for bottom*/
    }

        #main-first-content {
            display: block;
            margin: 0;
            font-size: 16px;
            line-height: 1.375;
            color: #3C4043;
            padding: 0;
            padding: 16px 16px 20px 16px;
        }

        #main-first-link-container {
            padding: 0px 16px 16px 16px;
        }

    /* .main-caption-container {
        margin: 4px 0px 0px 20px;
        height: auto;
        width: 628px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        border: 1px solid red;
    }

        .main-summary-container {
            border: 1px solid green;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .main-feedback-container {
            border: 1px solid blue;
            margin-left: 27px;
        }

            .main-caption-content svg {
                border: 1px solid blue;
                height: 14px;
                width: 14px;
                fill: #9E9E9E;
                line-height: 16px;
                margin-right: 8px;
            }

            .main-caption-content a {
                border: 1px solid blue;
                color: #70757A;
                font-size: 12px;
                text-decoration: none;
                line-height: 16px;
            } */


    .main-result-container {
        /* border: 1px solid rgb(235, 235, 235); */
        line-height: 16.8px;
        height: auto;
        width: 600px;
        margin: 0px 0px 27px 20px;
    }   

        .main-link-container {
            line-height: 20.54px;
            margin-bottom: 3px; 
        }   

            .main-link-container a {
                text-decoration: none;
                /* cursor: pointer; */
            }    

        .main-result-link {
            display: inline;
            color: #3C4043;
            font-size: 14px;
            padding: 2px 0px 1px 0px;
        }

        .main-result-header {
            display: inline-block;
            color: #1A0DAB;
            font-size: 20px;
            margin: 0px 0px 3px 0px;
            padding: 4px 0px 0px 0px;
        }

            .main-result-header:hover {
                text-decoration: underline;
            }

            .main-result-header:visited {
                color: #609;
                text-decoration: underline;
            }

        .main-result-content {
            /* border: 1px solid red; */
            display: block;
            margin: 0;
            font-size: 14px;
            line-height: 1.58;
            color: #3C4043;
            padding: 0;
        }


    .main-table-container {
        border: 1px solid rgb(235, 235, 235);
        border-radius: 8px;
        height: 220px;
        width: 652px;
        margin: 0px 0px 49px 20px;
    }

        .main-table-container div {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 44px;
        }

        .main-table-element {
            border-top: 1px solid #E5E5E5;
        }
            
            .main-table-header {
                color: #222;
                font-size: 20px;
                padding: 9px 16px;
                font-weight: normal;
            }

            .main-table-element p {
                color: #222;
                font-size: 16px;
                padding: 9px 16px;
            }

            .main-table-element svg {
                height: 24px;
                width: 24px;
                fill: #70757A;
                padding-right: 16px;
            }

        #main-table-feedback {
            height: 16px;
            width: 620px;
            margin: 4px 16px; 
        }

            #main-table-feedback a {
                display: inline;
                color: #70757A;
                font-size: 12px;
                font-style: italic;
                line-height: 1.34;
                text-decoration: none;
                padding-left: 560px;
            }

    .main-related-result-container {
        height: auto;
        width: 652px;
        margin: 0px 0px 27px 20px;
    }

        .main-related-result-header {
            color: #222;
            font-size: 20px;
            font-weight: normal;
            height: 34px;
            padding-bottom: 12px;
        }

        .main-related-result-content {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

            .main-related-result-list {
                margin: 0;
                padding: 0;
                color: #1A0DAB;
            }

            .main-related-result-list li{
                padding: 3px 32px 3px 0px;
            }

            .main-related-result-list li a {
                font-size: 14px;
                color: #1A0DAB;
                text-decoration: none;
                line-height: 20px;
            }

        .main-google-navigation-container {
            height: auto;
            width: 600px;
            margin: 0px 0px 27px 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        
            .main-google-navigation-container a {
                color: #4285F4;
                font-size: 14px;
                text-decoration: none;
                text-align: center;
            }

                .blue-G {
                    background-image: url(https://www.google.com/images/nav_logo299.webp);
                    background-position: -24px 0;
                    height: 40px;
                    width: 28px;
                }
 
            .red-o-link {
                color: rgba(0, 0, 0, 0.87);
            }    
                .red-o {
                    background-image: url(https://www.google.com/images/nav_logo299.webp);
                    background-position: -53px 0;
                    height: 40px;
                    width: 20px;
                }

                .yellow-o {
                    background-image: url(https://www.google.com/images/nav_logo299.webp);
                    background-position: -74px 0;
                    height: 40px;
                    width: 20px;
                }

            .gle-link {
                margin-left: 53px
            }

                .gle {
                    background-image: url(https://www.google.com/images/nav_logo299.webp);
                    background-position: -96px 0;
                    height: 40px;
                    width: 71px;
                }
/*End Main*/

/*Begin Footer*/
.footer-container {
    grid-area: footer;
    background: #F2F2F2;
    display: grid;
    grid-template-columns: inherit;
    grid-template-rows: 40px;
}

    .footer-container-up {
        border-top: 1px solid #E4E4E4;
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;
        display: grid;
        grid-template-columns: inherit;
        align-items: center;
    }

        .footer-content-up{
            grid-column: 2 / span 1;
            grid-row: 1 / span 1;
            margin-left: 47px;
        }   

            .footer-content-country {
                font-size: 15px;
                line-height: 15px;
                color: rgba(0, 0, 0, 0.54);
                padding-right: 13px;
                border-right: 1px solid #E4E4E4;
            }

            .footer-content-city {
                font-size: 14px;
                font-weight: 700;
                line-height: 15px;
                color: #333;
            }

            .footer-content-dot {
                border-radius: 100%;
                display: inline-block;
                height: 10px;
                width: 10px;
                background: #9E9E9E;
                text-align: center;
                margin-right: 4px;
                margin-left: 16px;
            }

            .footer-content-text {
                color: #5F6368;
                font-size: 14px;
                line-height: 15px;
                text-decoration: none;
            }


    .footer-container-down {
        border-top: 1px solid #E4E4E4;
        display: grid;
        grid-template-columns: inherit;
        align-items: center;
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;
    }

        .footer-content-down{
            grid-column: 2 / span 1;
            grid-row: 1 / span 1;
            margin-left: 20px;
        }

            .footer-content-down a {
                text-decoration: none;
                color: #5F6368;
                padding-left: 27px;
                font-size: 14px;
            }
/*End Footer*/